*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    gap: 100px;
}
a
{
    position: relative;
    padding: 30px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    /* margin-right: 70px; */

}
a:hover{
    background-color: red;
    color: black;
    /* background-origin: padding-box; */
    box-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 200px red;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005)  ;
}
a:first-child{
    filter: hue-rotate(225deg);
}
a:last-child{
    filter: hue-rotate(90deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, red);
    animation: animate1 1s infinite;
    rotate: 180deg;
    /* animation-delay: .25s; */
}
@keyframes animate1{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
} 
a span:nth-child(2){
    top: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent,red);
    animation: animate2 1s infinite;
    animation-delay:.25s ;

}
@keyframes animate2{
    0%{
        top:-100%;
    }
    100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,transparent,red);
    animation: animate3 1s infinite;
    animation-delay:.5s ;

}
@keyframes animate3{
    0%{
        right: 100%;
    }
    100%{
        right: -100%;
    }
}
a span:nth-child(4){
    /* bottom: 100%; */
    top: 100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent,red);
    animation: animate4 1s infinite;
    animation-delay:.75s ;
    rotate: 180deg;
}
@keyframes animate4{
    0%
    {
        top: 100%;
    }
    100%{
        top: -100%;
    }
}
@media screen and (max-width: 768px) {
    .hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    *{
        background-color: black;
        position: relative;
        margin-top: 10px;
    }
    a
{
    position: relative;
    padding: 30px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    /* margin-right: 70px; */

}
a:hover{
    background-color: red;
    color: black;
    /* background-origin: padding-box; */
    box-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 200px red;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005)  ;
}
a:first-child{
    filter: hue-rotate(225deg);
}
a:last-child{
    filter: hue-rotate(90deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, red);
    animation: animate1 1s infinite;
    rotate: 180deg;
    /* animation-delay: .25s; */
}
@keyframes animate1{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
} 
a span:nth-child(2){
    top: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent,red);
    animation: animate2 1s infinite;
    animation-delay:.25s ;

}
@keyframes animate2{
    0%{
        top:-100%;
    }
    100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,transparent,red);
    animation: animate3 1s infinite;
    animation-delay:.5s ;

}
@keyframes animate3{
    0%{
        right: 100%;
    }
    100%{
        right: -100%;
    }
}
a span:nth-child(4){
    /* bottom: 100%; */
    top: 100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent,red);
    animation: animate4 1s infinite;
    animation-delay:.75s ;
    rotate: 180deg;
}
@keyframes animate4{
    0%
    {
        top: 100%;
    }
    100%{
        top: -100%;
    }
}

}